/**
 * Copyright 2018 Klarna Bank AB (publ)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @category   Klarna
 * @package    Klarna_Kco
 * @author     Jason Grim <jason.grim@klarna.com>
 */
/**
 * Klarna checkout CSS
 */
/* line 29, scss/_klarna.scss */
#klarna-checkout-container {
  width: 100%;
}

/* Sidebar */
/* line 35, scss/_klarna.scss */
#checkout_summary * {
  text-transform: none;
}
/* line 39, scss/_klarna.scss */
#checkout_summary input[type=email],
#checkout_summary input[type=search],
#checkout_summary input[type=number],
#checkout_summary input[type=password],
#checkout_summary input[type=tel],
#checkout_summary input[type=text] {
  width: 100%;
}
/* line 48, scss/_klarna.scss */
#checkout_summary .text-center {
  text-align: center;
}
/* line 52, scss/_klarna.scss */
#checkout_summary a.apply {
  cursor: pointer;
}
/* line 56, scss/_klarna.scss */
#checkout_summary .checkout-summary-widget {
  padding: .375rem 0;
}
/* line 60, scss/_klarna.scss */
#checkout_summary #summary_cart_table {
  width: 100%;
}
/* line 65, scss/_klarna.scss */
#checkout_summary #summary_shipping ul.shipping-rates {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: .5rem;
  /* Chrome, Safari, Opera */
  -moz-column-gap: .5rem;
  /* Firefox */
  column-gap: .5rem;
}
/* line 74, scss/_klarna.scss */
#checkout_summary #summary_shipping ul.shipping-rates li {
  padding: .125rem;
}
/* line 80, scss/_klarna.scss */
#checkout_summary #shopping-cart-totals-table {
  border-spacing: 10px;
  border-collapse: separate;
}
/* line 85, scss/_klarna.scss */
#checkout_summary .input-group {
  margin: 1em auto;
  max-width: 25rem;
  text-align: center;
  padding: 0;
}
/* line 91, scss/_klarna.scss */
#checkout_summary .input-group input {
  display: inline-block;
  height: 1.875rem;
  padding: 0 .5rem;
  border: .0625rem solid silver;
  font-size: .9375rem;
  width: calc(100% - 5rem);
}
/* line 100, scss/_klarna.scss */
#checkout_summary .input-group button {
  display: inline-block;
  height: 1.875rem;
  margin-left: -.375rem;
  padding: .375rem .9375rem;
  background: #3399cc;
  font-size: .8125rem;
  color: white;
  cursor: pointer;
  user-select: none;
  border: none;
  vertical-align: top;
}
/* line 113, scss/_klarna.scss */
#checkout_summary .input-group button:hover {
  background: #2e8ab8;
}
/* line 117, scss/_klarna.scss */
#checkout_summary .input-group button:active {
  background: #297aa3;
}

/* Checkout loading spinner */
/* line 125, scss/_klarna.scss */
.klarna-loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 136, scss/_klarna.scss */
.klarna-loader:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 146, scss/_klarna.scss */
.klarna-loader:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/* line 152, scss/_klarna.scss */
.klarna-loader:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 3, scss/_ufhs.scss */
#checkout_summary h3.product-name {
  margin: 0 0 10px 0;
  font-size: 15px;
  font-weight: 500;
}
/* line 10, scss/_ufhs.scss */
#checkout_summary .input-group input {
  border-radius: 0;
  height: 30px;
  padding: 0 8px;
  border: 1px solid #D2D2D2;
  font-size: 12px;
}
/* line 17, scss/_ufhs.scss */
#checkout_summary .input-group button {
  background: #58585B;
}

/* line 23, scss/_ufhs.scss */
#summary_cart_table tr {
  border-bottom: 1px solid #ebebeb;
}
/* line 25, scss/_ufhs.scss */
#summary_cart_table tr.last {
  border-bottom: none;
}

/* line 30, scss/_ufhs.scss */
#shopping-cart-totals-table {
  width: 100%;
}

@media screen and (min-width: 768) {
  /* line 36, scss/_ufhs.scss */
  #checkout_summary h3.product-name {
    font-size: 13px;
  }
}
@media screen and (min-width: 960) {
  /* line 45, scss/_ufhs.scss */
  #checkout_summary h3.product-name {
    font-size: 15px;
  }
}

/*# sourceMappingURL=checkout.css.map */
