#checkout_summary {
	h3 {
		&.product-name {
			margin: 0 0 10px 0;
			font-size: 15px;
			font-weight: 500;
		}
	}
	.input-group {
		input {
			border-radius: 0;
			height: 30px;
			padding: 0 8px;
			border: 1px solid #D2D2D2;
			font-size: 12px;
		}
		button {
			background: #58585B;
		}
	}
}
#summary_cart_table {
	tr {
		border-bottom: 1px solid #ebebeb;
		&.last {
			border-bottom: none;
		}
	}
}
#shopping-cart-totals-table {
	width: 100%;
}
@media screen and (min-width: 768) {
	#checkout_summary {
		h3 {
			&.product-name {
				font-size: 13px;
			}
		}
	}
}
@media screen and (min-width: 960) {
	#checkout_summary {
		h3 {
			&.product-name {
				font-size: 15px;
			}
		}
	}
}