<?php
/**
 * Copyright 2018 Klarna Bank AB (publ)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @category   Klarna
 * @package    Klarna_Kco
 * @author     Jason Grim <jason.grim@klarna.com>
 */

/**
 * Klarna payment type template
 */

/** @var $this Klarna_Kco_Block_Info_Kco */
?>
<p><img width="150" src="https://cdn.klarna.com/1.0/shared/image/generic/logo/en_us/basic/blue-black.png?width=300"
        alt="<?php echo $this->escapeHtml($this->getMethod()->getTitle()) ?>"/></p>

<?php if ($_specificInfo = $this->getSpecificInformation()): ?>
    <table>
        <?php foreach ($_specificInfo as $_label => $_value): ?>
            <tr>
                <td><?php echo $this->escapeHtml($_label) ?>:</td>
                <td><?php echo nl2br(implode($this->getValueAsArray($_value, true), "\n")) ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>

<?php echo $this->getChildHtml() ?>
